/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 04 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header {
/* hint! you have to contain the floated children elements. */
	float: left;
	width: 984px;
}

.logo {
	/* hint! */
	float: left;
}

.navigation {
	/* hint! */
	float: right;

}

.sidebar {
	clear: both;
	display: inline-block;
	width: 250px;
	height: 250px;
}

.main-content {
	display: inline-block;
	float: right;
	width: 734px;
	height: 250px;
}

.footer {
	clear: both;
}
