/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 08 */

.container {
	width: 1024px;
	clear: both;
	margin: 0 auto;
}

.header {
	float: left;
	width: 100%;
	/*After pulling the header out of the container div, make sure the container is clearing it
	/*or else there is overlap
	*/
}

.sidebar {
	/*display: inline-block;*/
	/*clear: left;*/
	float: left;
	width: 150px;
	height: 250px;
}

.main-content {
	display: inline-block;
	width: 634px;
	height: 250px;
}

.sub-content {
	/*display: inline-block;*/
	float: right;
	width: 200px;
	height: 250px;
}

.footer {
	clear: both;
}
