/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 12 */

/* To Do List */
.todolist {
	width: 80%;
}

/* Individual Todo */
.todo {
	border: solid 2px red;
	float: left;
	width: 100%;
	margin-bottom: 5px;
}


/* Priority icon dot */
.icon.urgent {
	border: solid 1px red;
	display: inline-block;
	/*float: left;*/

}

.icon.medium{ 
	/*border: solid 1px black;*/
	float: left;
}

.icon {
	/*border: solid 1px black;*/
	float: left;
}

/* Info of the todo, title and date */
.todo-info {
	/*clear: both;*/
	display: inline-block;
	float: left;
	border: solid 1px orange;
}

/* Title */
.todo-title {
	display: inline-block;
	width: 100%;
	/*float: left;*/
	/*border: solid 1px black;*/
	font-family: Garamond;
	font-size: 150%;
}

/* Date */
.todo-date {
	/*border: solid 1px black;*/
	width: 100%;
}

/* Checkboxes! */
input[type=checkbox] {

}
.date-note{
	background-color: yellow;
	/*border: solid 1px black;*/
}

.check{
	display: inline-block;
	float: right;
	/*border: solid 1px red;*/
}