/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */

.header {
	float: left;
	width: 100%;
}

.logo{
	float: left;
}

.navigation{
	float: right;
}

.main-content {
	float: left;
}
/* hint! */

.post {
	float: right;
	clear: both;
	display: inline-block;


}
/* hint! */

.image {
	float: left;
	height: 150px;
	width: 150px;
	display: inline-block;
}

.post_excerpt {
	float: right;
	width: 80%;
	display: inline-block;
}
